@charset "utf-8";

#ereprodallwrap {
    margin: 0;
    padding: 0;
}

h3 {
    line-height: 1.2;
}

a {
    color: #333;
}

b {
    font-weight: bold;
}

tr {
    color: #3E3E3E;
    font-family: Malgun Gothic,'돋움','굴림',Gulim,dotum,'Segoe WPC','Segoe UI','Apple SD Gothic Neo',Helvetica,AppleGothic,Sans-serif!important;
    font-size: 12px;
    line-height: 18px;
}










/* 상단부 */

.ereprodtopwrap {
    width: 1060px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.erespace10 {
    margin: 0;
    padding: 0;
    height: 10px;
}

.ereprodtitlewrap {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

.ereprodtitlewrap .left {
    width: 1000px;
    float: left;
    text-align: left;
}

.ereprodtitlewrap .left a:hover {
    text-decoration: underline;
}

.ereprodtitlewrap .left .tlist {
    margin: 0;
    padding: 0 0 12px 0;
}

.ereprodtitlewrap .left .tlist ul {
    margin: 0;
    padding: 0;
}

.ereprodtitlewrap .left .tlist li {
    list-style: none;
    padding-bottom: 12px;
}

.erelabelwrap span {
    display: inline-block;
    background: #ffffff;
    border-radius: 3px;
    padding: 0 8px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 11px;
    color: #555;
    margin-right: 5px;
    letter-spacing: -0.04em;
    font-family: Malgun Gothic,'Segoe WPC', 'Segoe UI', 'Apple SD Gothic Neo', Helvetica, AppleGothic, Sans-serif;
    border: 1px solid #e5e5e5;
}

.erebotitle {
    font-size: 26px;
    font-family: "Noto Sans KR",Malgun Gothic,'Segoe WPC', 'Segoe UI', 'Apple SD Gothic Neo', Helvetica, AppleGothic, Sans-serif;
    color: #222;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: -0.05em;
    font-weight: 500;
}

.eresub2title {
    font-size: 14px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    color: #444;
}

.erepr10 {
    padding-right: 10px;
}

.ereprodtitlewrap .right {
    width: 60px;
    float: right;
    text-align: right;
    padding-top: 10px;
}

.ereclear {
    clear: both;
    margin: 0px;
    padding: 0px;
}

.erelayersttit2 {
    background: #fff;
    position: relative;
    margin: 0;
    padding: 25px 20px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ccc;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    width: 400px;
}

.erelayersttit2 h3 {
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #444;
}

.eretextc {
    text-align: center;
}

.erelayersttit2 .close2 {
    position: absolute;
    top: 10px;
    right: 10px;
}

.erespace25 {
    margin: 0;
    padding: 0;
    height: 25px;
}

.erelayersttit2 .btlist1 {
    margin: 10px auto 10px auto;
    padding: 0;
    overflow: hidden;
}

.erelayersttit2 .btlist1 ul li a {
    color: #333;
}

.erelayersttit2 .btlist1 ul {
    margin: 0;
    padding: 0;
}

.erelayersttit2 .btlist1 ul li {
    float: left;
    list-style: none;
    width: 33%;
    margin: 0;
    padding: 10px 0;
    font-size: 15px;
    text-align: center;
    color: #333;
}

.erelayershareinputbox {
    border: 1px solid #cdcdcd;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
}

.erelayershareforminput {
    border: 0;
    padding: 10px 3%;
    margin: 0px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    font-size: 15px;
    width: 64%;
    float: left;
    color: #222;
    line-height: 1.3;
}

.erelayersharebtn {
    background-color: #f8f8f8;
    float: right;
    text-align: center;
    border-left: 1px solid #cdcdcd;
    margin: 0;
    padding: 11px 3%;
    width: 23%;
    font-size: 15px;
}

.ereline1 {
    margin: 0;
    padding: 0;
    border-top: 1px solid #ccc;
}

.erespace30 {
    margin: 0;
    padding: 0;
    height: 30px;
}











/* 책 커버 */

.ereprodbookwrap {
    width: 1060px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.eretopleftbn {
    position: absolute;
    left: -90px;
    top: 0px;
}

.linkp {
    cursor: pointer;
}

.ereprodbcoverwrap {
    margin: 0;
    padding: 0;
    float: left;
    width: 500px;
}

.ereprodbcoverwrap .cover {
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
    width: 502px;
    text-align: center;
}

.ereprodbcoverwrap .cover img {
    max-width: 500px;
}

.ereprodbcoverwrap .leftarrow2 {
    position: absolute;
    z-index: 10;
    opacity: 0;
    width: 25%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opactiy 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.leftarrow2 span {
    background: url('img/arrow-left-white.svg') rgba(58, 58, 58, 0.4) no-repeat center / 15px auto;
    left: 5px;
}

.leftarrow2 span, .rightarrow2 span {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1px;
    color: transparent;
    text-indent: -100rem;
}

.ereprodbcoverwrap .rightarrow2 {
    position: absolute;
    z-index: 10;
    opacity: 0;
    width: 25%;
    height: 100%;
    top: 0;
    left: 75%;
    cursor: pointer;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opactiy 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.rightarrow2 span {
    background: url('img/arrow-right-white.svg') rgba(58, 58, 58, 0.4) no-repeat center / 15px auto;
    right: 5px;
}

.leftarrow2:hover, .rightarrow2:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    opacity: 1;
}

.swipercontainer {
    height: auto;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.swiperwrapper {
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}

.swipercontainer .swiperslide {
    height: auto;
    flex-shrink: 0;
}

.swipercontainer .swiperslide .imgbox {
    border: 1px solid #ddd;
}

.cover img {
    max-width: 500px;
}

.ereprodbcoverwrap .prevbox {
    margin: 0px auto;
    padding: 0;
    width: 500px;
    text-align: center;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    font-size: 13px;
}

.ereprodbcoverwrap .prevbox a {
    color: #333;
    padding: 7px 15px;
    margin: 0 10px;
    text-align: center;
    display: inline-block;
    letter-spacing: -0.07em;
}

.ereprodbcoverwrap .prevbox img {
    margin-bottom: -5px;
}

.swipercontainer .swiperslide:last-child {
    position: relative;
}

.ereprodbcoverwrap .lastpic {
    position: absolute;
    z-index: 10;
    background: rgba(245, 245, 245, 0.9);
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    font-size: 17px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    color: #333;
    font-weight: bold;
    line-height: 1.4;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.ereprodbcoverwrap .swiperwrapper {
    transform-style:preserve-3d;
    perspective:1000px;
    width:400px;
    height:600px;
}

.coveritem {
    cursor: url('img/mousecursor2.png'), pointer !important;
    position:relative;
    width:400px;
    height:600px;
    transition:0.5s;
    transform-style:preserve-3d;
    transform: rotateY(calc(var(--i) * 1deg)) translateZ(100px);
}

.coveritem img {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

.coveritem::before {
    content:'';
    position:absolute;
    left: 0;
    width:150px;
    height:100%;
    transform-origin:left;
    background:url("img/8954699073_d.jpg");
    background-position:center;
    transform:rotateY(90deg);
    background-size:cover;
}

.coveritem::after {
    content:'';
    position:absolute;
    left: 0;
    width:100%;
    height:100%;
    transform-origin:center;
    background:url("img/S002834999_b.jpg");
    background-position:center;
    transform:rotateY(180deg) translateZ(150px);
    background-size:cover;
}









/* 책 정보 */

.ereprodbinfowrap {
    margin: 0 0 0 60px;
    padding: 0;
    float: left;
    width: 500px;
}

.ereprodbinfowrap .info {
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    width: 500px;
    text-align: left;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.pnewpricephs {
    color: #f03c97;
    font-weight: bold;
}

.pnewpricephs a {
    color: #eb217c;
}

.ereprodbinfowrap .infolist {
    clear: both;
    padding: 0;
    margin: 0 0 25px 0;
}

.ereprodbinfowrap .infolist ul {
    padding: 0;
    margin: 0;
}

.ereprodbinfowrap .infolist ul li {
    list-style: none;
    position: relative;
    padding: 0 0 3px 0;
    margin: 0;
}

.ereprodbinfowrap .infolist ul li .litem {
    position: absolute;
    left: 0;
    width: 100px;
}

.ereprodbinfowrap .infolist ul li .ritem {
    margin-left: 100px;
    width: 400px;
    padding-bottom: 3px;
}

.ereprodbinfowrap .infolist ul li .litemp {
    position: absolute;
    left: 0;
    width: 100px;
    top: 3px;
}

.ereht11 {
    line-height: 1.1;
}

.erefs24 {
    font-size: 24px;
}

.parrowbtn, .parrowbtn2 {
    margin: 0 0 -3px 4px;
}

.nppopup, .nppopup2 {
    margin: 0;
    padding: 0;
    z-index: 200;
    background: #FFFFFF;
}

.erelayerstit {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.erelayersttit2 .btlist2 {
    margin: 5px 0 5px 0;
    padding: 0;
}

.erelayersttit2 .btlist2 ul {
    margin: 0;
    padding: 0;
}

.erelayersttit2 .btlist2 ul li {
    list-style: none !important;
    background: url('img/icon_dot1.png') no-repeat 0 7px;
    margin: 0 !important;
    padding: 0 0 7px 10px !important;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.02em !important;
    float: none !important;
}

.erebtnlayermore {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    background: #f8f8f8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #e9573f;
    border: 1px solid #e1e1e1;
    font-size: 8px!important;
}

.erebtnlayermore a {
    outline: 0;
    color: #e9573f;
    font-size: 8px!important;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 0px 3px 3px 3px;
    letter-spacing: -0.05em;
}

.erespace15 {
    margin: 0;
    padding: 0;
    height: 15px;
}

.ytzposition {
    margin-top: 0px;
    width: 65px;
    height: 65px;
}

.ytzdelivery {
    display: inline-block;
    background: #ffab00;
    text-align: center;
    font-size: 13px;
    line-height: 1.4em;
    color: #fff;
    border-radius: 15px;
    padding: 1px 7px 2px 7px;
    font-weight: bold;
    margin-bottom: 3px;
}

.ytztxt {
    font-weight: bold;
}

.erefs14 {
    color: #333;
    line-height: 1.5;
    font-size: 14px;
}

.erefs14:hover {
    text-decoration: underline;
}

.roadnamebg1 {
    background: #41a1dd;
    padding: 8px 0;
}

.roadnamebg1 table {
    margin: 0 auto;
}

.roadnamesp1 {
    padding: 25px 20px 20px 20px;
}

.roadnamesp1 .t1 {
    font-weight: bold;
    padding: 0 0 5px 0;
    font-size: 12px;
}

.roadnamesp1 .left1 {
    float: left;
    width: 84%;
}

.roadnameinput {
    width: 100%;
    border: #41a1dd 3px solid;
    height: 40px;
    box-sizing: border-box;
}

.roadnamesp1 .right1 {
    float: right;
    width: 15%;
}

.buttonroadname {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    border: 1px solid;
    border-color: #2076c0;
    text-align: center;
    overflow: hidden;
    text-decoration: none!important;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #41a1dd;
    width: 100%;
}

.buttonroadname a {
    text-decoration: none!important;
    outline: 0;
    color: #FFF!important;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Apple SD Gothic Neo', malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 16px;
    display: block;
    white-space: nowrap;
    background-color: transparent;
    border-color: #195fa5;
    margin: 0;
    border: 0;
}

.ereht18 {
    line-height: 1.8;
}

.erefs15 {
    font-size: 15px;
}

.erespace20 {
    margin: 0;
    padding: 0;
    height: 20px;
}

.erelayersttit2 .btlist3 {
    margin: 5px 0 5px 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0em;
}

.erelayersttit2 .btlist3 ul {
    margin: 0;
    padding: 0;
}

.erelayersttit2 .btlist3 ul li {
    list-style: none;
    margin: 0;
    padding: 0 0 7px 0px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #333;
    font-weight: normal;
    position: relative;
}

.erelayersttit2 .btlist3 ul li a {
    color: #333 !important;
}

.erelayersttit2 .btlist3 ul li:last-child {
    padding-bottom: 0px;
}

.eresubpink {
    color: #eb217c;
    text-decoration: none;
    line-height: 1.5;
}

.eresubpink:hover {
    text-decoration: underline;
}

.erestr {
    font-weight: 600;
}

.erefs16 {
    font-size: 16px;
}

.erelayersttit2 .starlist {
    margin: 0;
    padding: 0;
}

.erelayersttit2 .starlist .tbleft {
    text-align: left;
    width: 120px;
    padding: 5px 0;
    vertical-align: middle;
}

.erelayersttit2 .starlist .tbright {
    text-align: left;
    padding: 5px 0;
}

.erelayersttit2 .starlist .tbright .bar {
    float: left;
    height: 20px;
}

.erelayersttit2 .starlist .tbright .bar img {
    width: 100%;
    height: 20px;
}

.erelayersttit2 .starlist .tbright .per {
    float: left;
    font-size: 14px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    font-style: italic;
    color: #111;
    padding-left: 5px;
}

.erebtnthisbook {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    background: #0fa8ff;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    color: #fff!important;
}

.erebtnthisbook a {
    text-decoration: none !important;
    outline: 0;
    color: #fff!important;
    font-size: 13px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.5;
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 1px 7px 4px 7px;
    letter-spacing: -0.02em;
}

.infolist .erefs15 a:hover {
    text-decoration: underline;
}

.ereprodbinfowrap .infolist2 {
    clear: both;
    padding: 0;
    margin: 0 0 25px 0;
}

.ereprodbinfowrap .infolist2 ul {
    padding: 0;
    margin: 0;
}

.ereprodbinfowrap .infolist2 ul li {
    list-style: none;
    padding: 0 28px 0 0;
    margin: 0;
    float: left;
    letter-spacing: -0.06em;
}

.eresubblue {
    color: #333;
    line-height: 1.5;
}

.nppopup3 {
    margin: 0;
    padding: 0;
    z-index: 200;
    background: #FFFFFF;
}

.infolist a:hover, .infolist2 a:hover {
    text-decoration: underline;
}

.erelayertablebox {
    margin: 10px 0 0 0;
    padding: 0;
}

.erelayertablebox th {
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 10px 10px;
    background: #fafafa;
    color: #222;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    font-size: 14px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    line-height: 1.4;
    letter-spacing: -0.03em;
}

.erelayertablebox td {
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 10px 10px;
    background: #fff;
    color: #222;
    font-size: 14px;
    border-bottom: 1px solid #dfdfdf;
    line-height: 1.4;
    letter-spacing: -0.03em;
}

.ereinputbox {
    float: left;
    border: 1px solid #cdcdcd;
    margin: 0 10px 0 0;
    padding: 0;
    width: 91px;
}

.ereprodprice {
    float: left;
    margin: 0;
    color: #222;
}

.ereformarrow {
    float: right;
    text-align: center;
    border: 0;
    margin: 0;
    padding: 1px 0;
    width: 23px;
    background: #f8f8f8;
    border-left: 1px solid #cdcdcd;
}

.ereforminput {
    border: 0;
    padding: 10px 5px 10px 5px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    font-size: 16px;
    margin: 0px;
    color: #222;
    width: 56px;
    float: left;
}

.ereformarrow img {
    width: 23px;
    height: 19px;
}

.erebtncart {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    background: #df307f;
}

.erefloatl {
    float: left;
}

.erebtncart a {
    outline: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.5;
    display: block;
    white-space: nowrap;
    background: #df307f;
    margin: 0;
    padding: 17px 30px 17px 27px;
}

.erebtncart a:hover {
    background: #c82370;
}

.erebtnbuyitnow {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    background: #e24457;
}

.ereml4 {
    margin-left: 4px;
}

.erebtnbuyitnow a {
    outline: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.5;
    display: block;
    white-space: nowrap;
    background: #e24457;
    margin: 0;
    padding: 17px 48px 17px 45px;
}

.erebtnbuyitnow a:hover {
    background: #cd394d;
}

#btnpresent {
    margin-bottom: 3px;
}

#btnpresent a:hover {
    background-color: #fafafa;
}

.erebtngift {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #df307f;
}

.erebtngift a {
    outline: 0;
    color: #df307f;
    font-size: 15px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.5;
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 16px 14px 16px 14px;
}

#tobasketlayer {
    bottom: 5px;
    z-index: 9999;
    background-color: White;
    height: 95px;
}

.erelayersttit3 {
    margin: 0;
    padding: 35px 20px 25px 20px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ccc;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    width: 265px;
    font-size: 14px;
    background: #fff;
}

.erelayersttit3 .toparrow {
    position: absolute;
    top: -16px;
    left: 18px;
}

.erelayersttit3 h3 {
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #444;
    line-height: 1.4;
    letter-spacing: 0em;
}

.erelayersttit3 .close2 {
    position: absolute;
    top: 5px;
    right: 5px;
}

.erefeedbackbtncart {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    background: #df307f;
    width: 100%;
}

.erefeedbackbtncart a {
    background: #df307f;
    outline: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 10px 0px;
}

.ereglayerbtnbuyitnow {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    background: #e24457;
    width: 100%;
}

.ereglayerbtnbuyitnow a {
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    outline: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.5;
    display: block;
    white-space: nowrap;
    background: #e24457;
    margin: 0;
    padding: 10px 0;
}

.ereglayerbtnbuyitnow a:hover {
    background: #cd394d;
}

.erefeedbackbtncart2 {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #df307f;
    width: 100%;
}

.erefeedbackbtncart2 a {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    outline: 0;
    color: #df307f;
    font-size: 15px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.5;
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 10px 0;
}

.erefeedbackbtncart2 a:hover {
    background-color: #fafafa;
}

.erelayersttit3 .cont {
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    font-size: 15px;
    text-align: center;
    color: #333;
    line-height: 1.5;
}

.erelayerstlist {
    margin: 0;
    background: #fff;
    padding: 0;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ccc;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    width: 180px;
}

.erelayerstlist ul {
    margin: 0;
    padding: 0;
}

.erelayerstlist ul li {
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 15px;
}

.erelayerstlist ul li:hover {
    background-color: #fafafa;
}

.erelayerstlist ul li a {
    display: block;
    padding: 12px 18px;
    color: #333;
}

#btnsavebasket a:hover {
    background-color: #fafafa;
}

.eremsgbox {
    padding: 15px 20px 15px 20px;
    background-color: #f5f5f5;
}

.eremsgbox ul {
    margin: 0;
    padding: 0;
}

.eremsgbox ul li:last-child {
    padding: 0;
}

.eremsgbox ul li {
    list-style: none;
    text-align: left;
    font-size: 14px;
    color: #ef3b96;
    line-height: 1.4;
    letter-spacing: -0.02em;
}

.ereprodbinfowrap .infolist3 {
    float: left;
    clear: both;
    padding: 0;
    margin: 0 0 25px 0;
    width: 450px;
}

.ereprodbinfowrap .infolist3 ul {
    padding: 0;
    margin: 0;
}

.ereprodbinfowrap .infolist3 ul li {
    list-style: none;
    padding: 0 2% 0 0;
    margin: 0;
    float: left;
}

.eresubgray2 {
    color: #222;
    line-height: 1.5;
}

#usedsales > a:hover {
    text-decoration: underline;
}

.erelayerstlist2 {
    margin: 0;
    background: #fff;
    padding: 0;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ccc;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    width: 180px;
}

.erelayerstlist2 ul li {
    border-bottom: 1px solid #e5e5e5;
    font-size: 15px;
}

.erelayerstlist2 ul li a {
    display: block;
    padding: 12px 18px;
    color: #333;
}

.ereprodbinfowrap .infomore {
    float: right;
    padding: 0;
    margin: 0;
    text-align: right;
    width: 50px;
}

.erelayersttit1 {
    margin: 0;
    padding: 15px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ccc;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    width: 150px;
}

.erelayersttit1 h3 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #444;
}

.erelayersttit1 .btlist {
    margin: 15px 0 5px 0;
    padding: 0;
}

.erelayersttit1 .btlist ul {
    margin: 0;
    padding: 0;
}

.erelayersttit1 .btlist ul li {
    list-style: none;
    background: url('img/icon_dot1.png') no-repeat 0 7px;
    margin: 0;
    padding: 0 0 8px 10px;
    font-size: 14px;
}

.erelayersttit1 .btlist ul li a {
    color: #333;
}

.btlist ul li a:hover {
    color: #0086cd;
}

.erespace50 {
    margin: 0;
    padding: 0;
    height: 50px;
}

#divfixedbasket.fixedbasket {
    visibility: visible;
    z-index: 9999;
    transform: translate(0,0);
    opacity: 1;
}

#divfixedbasket {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    visibility: hidden;
    transition: visibility 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: translate(0,-150px);
}

.erelayerbasketbg {
    background: rgba(248, 248, 248, 0.95);
    padding: 10px 0;
    margin: 0;
    width: 100%;
    box-shadow: 0 2px 2px #ccc;
}

.erelayerbasketbox {
    width: 1060px;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
}

.erelayerbasketbox .title {
    float: left;
    width: 75%;
    padding-right: 1%;
    text-align: left;
}

.erelayerbasketbox .title .layertlist {
    margin: 0;
    padding: 0;
}

.erelayerbasketbox .title .layertlist ul {
    margin: 0;
    padding: 0;
}

.erelayerbasketbox .title .layertlist ul li {
    list-style: none;
    font-size: 15px;
    color: #333;
    letter-spacing: -0.01em;
    line-height: 1.5;
    padding-bottom: 0px;
}

.erebotitlely {
    font-size: 17px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    color: #222;
    text-decoration: none;
    line-height: 1.4;
    letter-spacing: -0.02em;
}

.erefs17 {
    font-size: 17px;
}

.erelayerbasketbox .btnbox {
    float: right;
    width: 24%;
    text-align: right;
    padding-top: 10px;
}

.erelayerbtnbuyitnow {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    background: #e24457;
}

.erelayerbtnbuyitnow a {
    outline: 0;
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.5;
    display: block;
    white-space: nowrap;
    background: #e24457;
    margin: 0;
    padding: 4px 20px 5px 19px;
    letter-spacing: -0.07em;
}

.erefloatr {
    float: right;
}

.erelayerbtncart {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    background: #df307f;
}

.erelayerbtncart a {
    outline: 0;
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.5;
    display: block;
    white-space: nowrap;
    background: #df307f;
    margin: 0;
    padding: 4px 6px 5px 5px;
    letter-spacing: -0.07em;
}














/* 상단 광고 배너 */

.ereprodhalfbannerwrap {
    width: 1060px;
    height: 115px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.ereprodhalfbannerleft {
    background: #eeeeee;
    float: left;
    width: 489px;
    margin: 0;
    padding: 0 20px;
}

.ereprodhalfbannerleft img {
    width: 100%;
}

.ereprodhalfbannerright {
    background: #d1f2f9;
    float: right;
    width: 489px;
    margin: 0;
    padding: 0 20px;
}

.erespace60 {
    margin: 0;
    padding: 0;
    height: 60px;
}














/* 컨텐츠 */

.ereprodmiddlewrap {
    width: 1060px;
    margin: 0 auto;
    padding: 0;
}

.ereprodmcontsbox {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
}

.ereprodmcontsll {
    display: block;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 5px 100px 0 0;
    width: 150px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    color: #222;
    font-size: 21px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: left;
}

.ereprodmcontsr {
    width: 810px;
    float: left;
    margin: 0 0 0 250px;
    padding: 5px 0 0px 0;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    color: #333;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: -0.02em;
    text-align: left;
}

.ereprodmcontsr a {
    color: #333;
}

.ereprodmcontsr .contsinfolist1 {
    clear: both;
    padding: 0;
    margin: 0;
}

.ereprodmcontsr .contsinfolist1 ul {
    padding: 0;
    margin: 0;
}

.ereprodmcontsr .contsinfolist1 ul li {
    list-style: none;
    padding: 0 25px 0 0;
    margin: 0;
    float: left;
    color: #333;
}

.ereprodmcontsr .contstleft {
    float: left;
}

.erepb10 {
    padding-bottom: 10px;
}

.erebtncheck {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #c8c8c8;
}

.erebtncheck a {
    outline: 0;
    color: #555;
    font-size: 13px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.5;
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 1px 7px 4px 7px;
    letter-spacing: -0.02em;
}

.erebtncheck a:hover {
    text-decoration: underline;
}

.ereprodmcontsr .contsinfolist2 {
    clear: both;
    padding: 0;
    margin: 0;
}

.ereprodmcontsr .contsinfolist2 ul {
    padding: 0;
    margin: 0;
}

.ereprodmcontsr .contsinfolist2 ul li {
    list-style: none;
    background: url('img/icon_dot1.png') no-repeat 0 9px;
    margin: 0;
    padding: 0 0 6px 10px;
    color: #333;
    letter-spacing: -0.02em;
}

.ereprodmcontsr .contsinfolist2 ul li a {
    color: #333;
}

#ulcategory a:hover {
    text-decoration: underline;
}

.ereline2 {
    margin: 45px 0 40px 0;
    padding: 0;
    border-top: 1px solid #d5d5d5;
}

.ereprodmcontsbox::after {
    content: '';
    display: block;
    clear: both;
}

.erefs18 {
    font-size: 18px;
}

.eresubgray3 {
    color: #333;
    text-decoration: none;
    line-height: 1.6;
    letter-spacing: -0.02em;
}

.erept10 {
    padding-top: 10px;
}

.eretextr {
    text-align: right;
}

.ereprodmcontsr .contsinfolist6 {
    clear: both;
    padding: 0;
    margin: 0;
}

.ereprodmcontsr .contsinfolist6 ul {
    padding: 0;
    margin: 0;
    height: 264.219px;
}

@keyframes fadeInRight {
    0% {
        opacity: 1;
        transform: translate3d(+100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

#swiperitemevent ul {
    position: relative;
    animation: fadeInRight 0.5s;
}

.ereprodmcontsr .contsinfolist6 ul li {
    list-style: none;
    padding: 0 6px 0 0;
    width: 266px;
    text-align: left;
    margin: 0;
    float: left;
}

.ereprodmcontsr .contsinfolist6 ul li:last-child {
    padding: 0 0 0 0;
}

.ereprodmcontsr .contsinfolist6 ul li img {
    width: 266px;
}

.ereprodmcontsr .eventtit {
    margin: 0;
    padding: 5px;
    text-align: left;
    color: #333;
    font-size: 15px;
    line-height: 1.5;
}

.erespace5 {
    margin: 0;
    padding: 0;
    height: 5px;
}

.ereprodmcontsr .eventnav {
    margin: 0;
    padding: 5px 0 0 0;
    text-align: center;
}

.ereprodmcontsr .eventnav span {
    outline: 0;
}

.swiperbullet {
    width: 14px;
    height: 14px;
    margin: 0 10px;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: 0.2;
}

.swiperbulletactive {
    opacity: 1 !important;
    background: #333333 !important;
}

.ereprodmcontsr .fsentencebox {
    margin: 0;
    padding: 0;
}

.ereprodmcontsr .fsentencebox .fsentitle {
    margin-right: 15px;
    background-color: #f6f6f6;
    width: 100px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    padding-top: 40px;
    font-size: 18px;
    font-family: 나눔명조, Nanum Myeongjo;
    font-style: italic;
    color: #000;
}

.ereprodmcontsr .fsentencebox .fsenconts {
    margin: 0px;
    padding: 0px 0 0px 0;
    background: url('img/line_bg.png') repeat-x top left;
    width: 680px;
    font-size: 18px;
    font-family: 나눔명조, Nanum Myeongjo, sans-serif;
    line-height: 1.7;
    color: #333;
    letter-spacing: -0.02em;
}

.ereprodmcontsr .linelist {
    clear: both;
    padding: 0;
    margin: 0 0 0px 0;
}

.ereprodmcontsr .linelist ul {
    padding: 0;
    margin: 0;
}

.ereprodmcontsr .linelist ul li {
    list-style: none;
    position: relative;
    padding: 0 0 15px 0;
    margin: 0;
}

.ereprodmcontsr .linelist ul li .rconts2 {
    width: 100%;
    line-height: 1.8;
    color: #333;
    letter-spacing: -0.02em;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    font-size: 15px;
}

.ereprodmcontsr .linelist ul li .rconts2 .page {
    padding-right: 5px;
    color: #3885c9;
    text-decoration: none;
    font-size: 17px;
    font-family: myriad;
    font-style: italic;
    letter-spacing: -0.02em;
}

.ereprodmcontsr .linelist ul li .rconts2 span {
    display: block;
}

.erebtnmore {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    background: #f3f3f3;
    border: 0;
    width: 100%;
    text-align: center;
}

.erebtnmore a {
    outline: 0;
    color: #444;
    font-size: 13px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.5;
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 8px 0px 10px 0px;
}

.erebtnmore a:hover {
    margin: 0;
    background: #ececec;
    color: #009ef8;
}

.erebtnmore a:hover strong {
    transform: translateY(3px);
}

.erebtnmore a:hover .morearrow::after {
    color: #009ef8;
    transform: rotate(135deg) translate(2px, -2px);
}

.erebtnmore a strong {
    display: inline-block;
    transition: 0.2s;
}

.morearrow {
    display: inline;
    position: relative;
    margin-left: 5px;
}

.morearrow::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: -1px;
    margin: auto;
    width: 7px;
    height: 7px;
    border-top: 1px solid;
    border-right: 1px solid;
    color: #000;
    transform: rotate(135deg);
    transition: 0.2s;
}

.ereprodmcontsr .contsinfolist7 {
    clear: both;
    padding: 0;
    margin: 0;
}

.ereprodmcontsr .contsinfolist7 ul {
    padding: 0;
    margin: 0;
}

.ereprodmcontsr .contsinfolist7 ul li {
    list-style: none;
    background: url('img/icon_dot1.png') no-repeat 0 9px;
    margin: 0;
    padding: 0 0 10px 9px;
    color: #333;
    letter-spacing: -0.02em;
}

.ereprodmcontsr .contsinfolist7 ul li:last-child {
    padding-bottom: 0;
}

.eresubgray7 {
    color: #777;
    text-decoration: none;
}

.erefs142 {
    font-size: 14px;
}

.erelayerstlist3 {
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ccc;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    width: 200px;
}

.erelayerstlist3 ul li a {
    display: block;
    padding: 12px 18px;
    color: #333;
}

.erelayerstlist3 ul li {
    border-bottom: 1px solid #e5e5e5;
    font-size: 15px;
}

.erestrn {
    font-weight: normal;
}

.erebtncheck2 {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #c8c8c8;
}

.erebtncheck2 a {
    outline: 0;
    color: #555;
    font-size: 13px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.5;
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 1px 7px 4px 7px;
    letter-spacing: -0.02em;
}

.erebtncheck2 a:hover {
    background: #fafafa;
}

.ereprodmcontsr .authorbox {
    width: 810px;
    margin: 0;
    padding: 0;
}

.ereprodmcontsr .authorbox .introductionnopic {
    width: 810px;
    word-break: break-all;
}

.eresubgray8 {
    color: #888;
}

.erefs13 {
    font-size: 13px;
}

.ereprodmcontsr .contsinfolist2 {
    clear: both;
    padding: 0;
    margin: 0;
}

.ereprodmcontsr .contsinfolist2 ul {
    padding: 0;
    margin: 0;
}

.ereprodmcontsr .contsinfolist2 ul li {
    list-style: none;
    background: url('img/icon_dot1.png') no-repeat 0 9px;
    margin: 0;
    padding: 0 0 6px 10px;
    color: #333;
    letter-spacing: -0.02em;
}

.contsinfolist2 .eresubblue a:hover {
    text-decoration: underline;
}

.ereprodmcontsr .publishingbox {
    width: 810px;
    margin: 0;
    padding: 0;
}

.ereprodmcontsr .publishingbox .pic {
    width: 140px;
    float: left;
    margin: 0;
    padding: 0;
}

.ereprodmcontsr .publishingbox .pic img {
    width: 138px;
    border: 1px solid #ddd;
}

.ereprodmcontsr .publishingbox .introduction {
    float: left;
    width: 650px;
    margin: 0 0 0 20px;
    word-break: break-all;
}

.erembm4 {
    margin-bottom: -4px;
}

.introduction .contsinfolist2 ul li a:hover {
    text-decoration: underline;
}






/* 블로그 & 알라디너tv */

.ereprodblogwrap {
    width: 1060px;
    margin: 0 auto;
    padding: 0;
}

.ereprodmblogbox {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
}

.ereprodmblogl {
    position: absolute;
    left: 2px;
    margin: 0;
    padding: 0 100px 0 0;
    width: 150px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    color: #0086cd;
    font-size: 21px;
    line-height: 1.6;
    text-align: left;
    letter-spacing: -0.02em;
}

.ereprodmblogr {
    width: 810px;
    float: left;
    margin: 0 0 0 250px;
    padding: 5px 0 0px 0;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    color: #333;
    font-size: 15px;
    line-height: 1.8;
    text-align: left;
    letter-spacing: -0.02em;
}

.ereprodmblogr .btitlebox {
    margin: 0;
    padding: 10px 0;
    width: 810px;
    border-bottom: 1px solid #d5d5d5;
}

.ereprodmblogr .btitlebox .tlistleft {
    float: left;
    margin: 0;
    padding: 0;
}

.ereprodmblogr .btitlebox .tlistleft ul {
    margin: 0;
    padding: 0;
}

.ereprodmblogr .btitlebox .tlistleft ul li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 25px 0 5px;
    color: #333;
    font-size: 16px;
    text-align: left;
}

.ereprodmblogr .btitlebox .tlistright {
    float: right;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 15px;
}

.ereprodmblogr .btitlebox .tlistright ul {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 15px;
}

.ereprodmblogr .btitlebox .tlistright ul li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 0 0 25px;
    color: #333;
    font-size: 14px;
}

.erebtnblogwrite {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    background: #0fa8ff;
    border: 1px solid #0fa8ff;
}

.erebtnblogwrite a {
    outline: 0;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.5;
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 2px 18px 6px 19px;
}

.eresubblue2 {
    color: #0fa8ff;
    line-height: 1.5;
}

#aladinertvbtnsort .erelayerstlist2 a:hover {
    color: #0086cd;
}

.eresapce40 {
    margin: 0;
    padding: 0;
    height: 40px;
}

.hundredlist {
    margin: 0;
    padding: 0;
}

.ereprodmblogr .bloglist3 {
    clear: both;
    padding: 0;
    margin: 0;
}

.ereprodmblogr .bloglist3 ul {
    padding: 0;
    margin: 0;
}

.ereprodmblogr .bloglist3 ul li {
    list-style: none;
    margin: 0;
    padding: 0 0 8px 0px;
    line-height: 1.8;
    color: #333;
    letter-spacing: -0.02em;
}

.ereprodmblogr .bloglist3 ul li .left {
    float: left;
}

.ereprodmblogr .bloglist3 ul li .right {
    float: right;
}

.erebtnblogsym {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    background: #fcfcfc;
    border: 1px solid #e5e5e5;
}

.erebtnblogsym a {
    outline: 0;
    color: #777;
    font-size: 13px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 150%;
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 2px 8px 4px 8px;
}

.erebtnblogsym a:hover {
    background: #f5f5f5;
}

.tvline {
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 15px;
    margin-bottom: 20px;
    clear: both;
}

.tvline::after {
    content: '';
    display: block;
    clear: both;
}

.erealadinertvbox {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.erealadinertvbox .leftarrows {
    position: absolute;
    left: -20px;
    width: 20px;
    top: 18%;
    z-index: 10;
}

.erealadinertvbox .rightarrows {
    position: absolute;
    right: -24px;
    width: 20px;
    top: 18%;
    z-index: 10;
}

.erealadinertvbox .aladinertvlist {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}

.erealadinertvbox .aladinertvlist ul {
    padding: 0;
    margin: 0;
}

.erealadinertvbox .aladinertvlist ul li {
    float: left;
    list-style: none;
    text-align: center;
    margin: 0;
    color: #333;
    line-height: 1.3;
}

.erealadinertvwrap {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

.erealadinertvicon {
    position: absolute;
    left: 40%;
    top: 35%;
}

.erealadinertvicon img {
    width: 40px;
}

.erealadinertvthumb {
    width: 100%;
    height: 110px;
    margin-bottom: 8px;
    padding: 0;
    text-align: center;
}

.erealadinertvthumb img {
    width: 100%;
    height: 110px;
}

.aladinertvtit {
    color: #222;
    font-size: 14px;
    letter-spacing: -0.02em; 
    line-height: 1.3;
    margin-bottom: 5px;
}

.aladinertvtag {
    color: #33afe9;
    display: inline-block;
}

.aladinertvsubt {
    color: #777;
    font-size: 13px;
    margin-top: 5px;
}

.erespace40 {
    margin: 0;
    padding: 0;
    height: 40px;
}




/* 통계 */

.ereprodmblogbox {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
}

.ereprodmblogr .manialist {
    margin: 0;
    padding: 0;
}

.ereprodmblogr .manialist .maphoto {
    float: left;
    margin: 0 15px 0 0;
    padding: 5px 0 0 0;
    text-align: left;
    width: 80px;
}

.ereprodmblogr .manialist .maphoto img {
    width: 80px;
    height: 80px;
}

.ereprodmblogr .manialist .mawrite {
    float: left;
    margin: 0;
    padding: 0;
    width: 715px;
    font-size: 15px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    color: #333;
    letter-spacing: -0.02em;
    line-height: 1.6;
}

.ereprodmblogr .bookplebox2 {
    margin: 0;
    padding: 0;
}

.ereprodmblogr .bookplebox2 .bpconts {
    float: left;
    margin: 0 0;
    padding: 0px;
    font-size: 15px;
    font-weight: 600;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    color: #333;
}

.ereprodmblogr .bloglist1 {
    clear: both;
    padding: 0;
    margin: 0;
}

.ereprodmblogr .bloglist1 ul {
    padding: 0;
    margin: 0;
}

.ereprodmblogr .bloglist1 ul li {
    list-style: none;
    padding: 0 25px 0 0;
    margin: 0;
    float: left;
    line-height: 1.8;
    color: #333;
    letter-spacing: -0.02em;
}

.ereprodmblogr .bookplebox2 .bptitle {
    width: 120px;
    float: right;
    margin: 0;
    padding: 0;
}

.ereml7 {
    margin-left: 7px;
}

.ereprodgraphwrapa {
    margin: 0 auto;
    padding: 40px 0;
    background: #f9f9f9;
}

.ereprodgraphwrapa .graphbox {
    width: 1060px;
    margin: 0 auto;
    padding: 0;
    font-size: 15px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    color: #333;
}

.ereprodgraphwrapa .graphbox .buyerareaa {
    width: 519px;
    float: left;
    margin: 0;
    padding: 0 10px 0 0;
    border-bottom: 0;
    border-right: 1px dotted #ccc;
}

.buyerareaa .buyerbox {
    margin: 0;
    padding: 0;
}

.buyerareaa .buyerbox .anaytitle {
    margin: 0 0 30px 0;
    padding: 0;
    width: 519px;
    float: left;
}

.buyerareaa .buyerbox .anaytroundl {
    display: block;
    margin: 0 30px 0 0;
    text-align: center;
    font-size: 19px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    color: #0086cd;
    line-height: 1.4;
}

.buyerareaa .buyerbox .anayconts {
    float: left;
    margin: 0;
    padding: 0 5% 0 0;
    width: 95%;
    font-size: 13px;
}

.buyerareaa .buyerbox .anayconts .analysis {
    float: left;
    width: 100%;
    padding: 0;
}

.buyerareaa .buyerbox .analysisbox {
    margin: 0;
    padding: 0;
}

.buyerareaa .buyerbox .analysisbox .tbwoman {
    background: url('img/analysis_box_bg1.png') repeat-x 0 0;
    text-align: right;
    padding: 8px 0;
    width: 45%;
    font-size: 15px;
}

.buyerareaa .buyerbox .analysisbox .tbwoman .bar {
    float: right;
}

.buyerareaa .buyerbox .analysisbox .tbwoman .bar img {
    width: 100%;
    height: 20px;
}

.buyerareaa .buyerbox .analysisbox .tbwoman .per {
    background: #f9f9f9;
    padding-bottom: 2px;
    width: 18%;
    float: left;
    padding-right: 5px;
    font-size: 15px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    font-style: italic;
    color: #000;
    letter-spacing: -0.05em;
}

.buyerareaa .buyerbox .analysisbox .tbtit {
    text-align: center;
    width: 10%;
    padding: 3px 0 8px 0;
    font-size: 15px;
    color: #333;
    font-weight: 600;
    letter-spacing: -0.05em;
    vertical-align: middle !important;
}

.buyerareaa .buyerbox .analysisbox .tbman {
    background: url('img/analysis_box_bg1.png') repeat-x 0 0;
    text-align: left;
    padding: 8px 0;
    width: 45%;
    font-size: 15px;
}

.buyerareaa .buyerbox .analysisbox .tbman .bar {
    float: left;
}

.buyerareaa .buyerbox .analysisbox .tbman .bar img {
    width: 100%;
    height: 20px;
}

.buyerareaa .buyerbox .analysisbox .tbman .per {
    background: #f9f9f9;
    padding-bottom: 2px;
    width: 18%;
    float: right;
    padding-left: 5px;
    font-size: 15px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    font-style: italic;
    color: #000;
    letter-spacing: -0.05em;
    text-align: right;
}

.erembm1 {
    margin-bottom: -1px;
}

.buyerareaa .buyerbox .analysisbox .tbwomanlast {
    text-align: right;
    padding: 8px 0;
    width: 45%;
    font-size: 15px;
}

.buyerareaa .buyerbox .analysisbox .tbmanlast {
    text-align: left;
    padding: 8px 0;
    width: 45%;
    font-size: 15px;
}

.ereprodgraphwrapa .graphbox .starareaa {
    width: 520px;
    float: left;
    margin: 0;
    padding: 0 0 0 10px;
}

.starareaa .starbox {
    margin: 0;
    padding: 0;
}

.starareaa .starbox .anaytitle {
    margin: 0 0 20px 0;
    padding: 0;
    width: 519px;
}

.starareaa .starbox .anaytroundl {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 19px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    color: #0086cd;
    line-height: 1.4;
}

.starareaa .starbox .anayconts {
    float: left;
    margin: 0;
    padding: 0 0 0 5%;
    width: 95%;
    font-size: 13px;
}

.starareaa .starbox .anayconts .analysis {
    float: left;
    width: 100%;
    padding: 0;
}

.starareaa .starbox .analysisbox {
    margin: 0;
    padding: 0;
}

.starareaa .starbox .starlist {
    float: left;
    margin: 0;
    padding: 0 0 0 0;
    width: 100%;
    font-size: 13px;
    text-align: center;
}

.scorebox {
    display: inline-block;
    margin: 0 auto 15px auto;
    padding: 0;
    text-align: center;
}

.scorebox .star {
    margin: 0;
    padding: 0;
    float: left;
}

.scorebox .num {
    float: left;
    padding: 7px 0 0 15px;
    color: #ef3b96;
    font-weight: bold;
    font-size: 34px;
}

.starareaa .starbox .starlist .tbleft {
    text-align: left;
    width: 130px;
    padding: 6px 0 9px 0;
    vertical-align: middle;
}

.starareaa .starbox .starlist .tbright {
    background: url('img/analysis_box_bg1.png') repeat-x 0 0;
    text-align: left;
    padding: 8px 0;
}

.starareaa .starbox .starlist .tbright .bar {
    float: left;
}

.starareaa .starbox .starlist .tbright .bar img {
    width: 100%;
    height: 20px;
}

.starareaa .starbox .starlist .tbright .per {
    background: #f9f9f9;
    padding-bottom: 2px;
    width: 15%;
    float: right;
    font-size: 14px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    font-style: italic;
    color: #111;
    padding-left: 6px;
    text-align: right;
}






/* 리뷰 */

.hundredbox {
    margin: 0;
    padding: 0;
}

.ereprodmblogr .hundredbox .hleft1 {
    margin: 0 5px 0 0;
    padding: 0;
    width: 710px;
    float: left;
}

.ereprodmblogr .hundredbox .starbox {
    margin: 0;
    padding: 6px 0;
    width: 145px;
}

.ereprodmblogr .hundredbox .textbox {
    border: 1px solid #d5d5d5;
    margin: 0;
    padding: 0px;
    width: 708px;
    height: 65px;
}

.ereprodmblogr .hundredbox .textbox .btextarea {
    border: 0;
    padding: 10px 10px;
    width: 685px;
    height: 45px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    font-size: 14px;
    color: #777;
    text-align: left;
    letter-spacing: -0.02em;
    line-height: 1.6;
}

.ereprodmblogr .hundredbox .hright1 {
    float: right;
    margin: 0;
    padding: 0px;
    width: 95px;
}

.erebtnregister {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    background: #0fa8ff;
}

.erebtnregister a {
    outline: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    line-height: 1.5;
    display: block;
    white-space: nowrap;
    background: #0fa8ff;
    margin: 0;
    width: 95px;
    padding: 23px 0px 22px 0px;
}



/* 반품 교환 */

.erefooterwrap {
    margin: 0;
    padding: 35px 0 0 0;
    background-color: #fff;
    border-top: 1px solid #cccccc;
}

.ereprodmcontsl {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 5px 100px 0 0;
    width: 150px;
    font-family: malgun, "Malgun Gothic", Dotum, 돋움, sans-serif;
    color: #222;
    font-size: 21px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    text-align: left;
}

.ereprodmblogr .returnbox {
    margin: 0;
    padding: 0;
}

.ereprodmblogr .returnbox .tittable1 {
    margin: 0;
    padding: 15px 20px;
    background: #f9f9f9;
    text-align: left;
    color: #333;
    font-size: 14px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #dfdfdf;
    line-height: 1.6;
    letter-spacing: -0.02em;
    vertical-align: middle;
}

.ereprodmblogr .returnbox .tittable2 {
    margin: 0;
    padding: 15px 20px;
    background: #ffffff;
    text-align: left;
    color: #333;
    font-size: 14px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #dfdfdf;
    line-height: 1.6;
    letter-spacing: -0.02em;
}

.ereprodmblogr .returnbox .tittable3 {
    margin: 0;
    padding: 15px 20px;
    background: #f9f9f9;
    text-align: left;
    color: #333;
    font-size: 14px;
    border-bottom: 1px solid #dfdfdf;
    line-height: 1.6;
    letter-spacing: -0.02em;
    vertical-align: middle;
}

.ereprodmblogr .returnbox .tittable4 {
    margin: 0;
    padding: 15px 20px;
    background: #ffffff;
    text-align: left;
    color: #333;
    font-size: 14px;
    border-bottom: 1px solid #dfdfdf;
    line-height: 1.6;
    letter-spacing: -0.02em;
}

.ereprodmblogr .returnbox .tittable5 {
    margin: 0;
    padding: 15px 20px;
    background: #f9f9f9;
    text-align: left;
    color: #333;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    line-height: 1.6;
    letter-spacing: -0.02em;
    vertical-align: middle;
}

.ereprodmblogr .returnbox .tittable6 {
    margin: 0;
    padding: 15px 20px;
    background: #ffffff;
    text-align: left;
    color: #333;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    line-height: 1.6;
    letter-spacing: -0.02em;
}
